# DaCe
.dacecache/
out.sdfg
*.out
results.log
perf.json
perf*.csv

# Python-related byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Haskell / Accelerate
nbody-naive/accelerate/nbody-naive/.stack-work/*
nbody-naive/accelerate/nbody-naive/dist-newstyle/*
MG/accelerate/.stack-work/*
quickhull/accelerate/.stack-work/*
FlashAttention/accelerate/.stack-work/*
LocVolCalib/accelerate/.stack-work/*

*.o
Fin-LocVolCalib/baseline-FinPar/OrigCpp/Debug.txt
Fin-LocVolCalib/baseline-FinPar/OrigCpp/VolCalib
