# DaCe
.dacecache/
out.sdfg
*.out
results.log
perf.json
perf*.csv

# Python-related byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Haskell / Accelerate
nbody-naive/accelerate/nbody-naive/.stack-work/*
